<mat-tab-group [selectedIndex]="selectedIndex">
    <mat-tab label="GENERAL">
        <app-step-training-general [stepTrainingGeneralData]="step1Data" (stepTrainingGeneralEmitter)="onStepTrainingGeneral($event)"></app-step-training-general>
    </mat-tab>
    <mat-tab label="PLAYERS">
        <app-step-training-players [stepTrainingPlayersData]="step2Data" (stepTrainingPlayersEmitter)="onStepTrainingPlayers($event)"></app-step-training-players>
    </mat-tab>
    <mat-tab label="PHASES">
        <app-step-training-phases [stepTrainingPhasesData]="step3Data" (stepTrainingPhasesEmitter)="onStepTrainingPhases($event)"></app-step-training-phases>
    </mat-tab>
</mat-tab-group>
