
// #d31c4c the actual color
$playermaker-primary-pink: (
    50 : #e7e1e7,
    100 : #c2b5c4,
    200 : #9a849d,
    300 : #725275,
    400 : #532d58,
    500 : #35083a,
    600 : #300734,
    700 : #28062c,
    800 : #220425,
    900 : #160218,
    A100 : #e558ff,
    A200 : #dd25ff,
    A400 : #cc00f1,
    A700 : #b600d7,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )

    
    // 50 : #fae4ea,
    // 100 : #f2bbc9,
    // 200 : #e98ea6,
    // 300 : #e06082,
    // 400 : #da3e67,
    // 500 : #d31c4c,
    // 600 : #ce1945,
    // 700 : #c8143c,
    // 800 : #c21133,
    // 900 : #b70924,
    // A100 : #ffe3e6,
    // A200 : #ffb0b9,
    // A400 : #ff7d8b,
    // A700 : #ff6375,
    // contrast: (
    //     50 : #000000,
    //     100 : #000000,
    //     200 : #000000,
    //     300 : #000000,
    //     400 : #ffffff,
    //     500 : #ffffff,
    //     600 : #ffffff,
    //     700 : #ffffff,
    //     800 : #ffffff,
    //     900 : #ffffff,
    //     A100 : #000000,
    //     A200 : #000000,
    //     A400 : #000000,
    //     A700 : #000000,
    // )
);

// #17142e the actual color
$playermaker-secondary-dark-blue: (

    50 : #e2f9ed,
    100 : #b8f0d2,
    200 : #88e6b4,
    300 : #58dc96,
    400 : #35d580,
    500 : #11cd69,
    600 : #0fc861,
    700 : #0cc156,
    800 : #0aba4c,
    900 : #05ae3b,
    A100 : #d9ffe3,
    A200 : #a6ffbd,
    A400 : #73ff97,
    A700 : #59ff84,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
    
    // 50 : #e3e3e6,
    // 100 : #b9b9c0,
    // 200 : #8b8a97,
    // 300 : #5d5b6d,
    // 400 : #3a374d,
    // 500 : #17142e,
    // 600 : #141229,
    // 700 : #110e23,
    // 800 : #0d0b1d,
    // 900 : #070612,
    // A100 : #6a54ff,
    // A200 : #3e21ff,
    // A400 : #1f00ed,
    // A700 : #1b00d4,
    // contrast: (
    //     50 : #000000,
    //     100 : #000000,
    //     200 : #000000,
    //     300 : #ffffff,
    //     400 : #ffffff,
    //     500 : #ffffff,
    //     600 : #ffffff,
    //     700 : #ffffff,
    //     800 : #ffffff,
    //     900 : #ffffff,
    //     A100 : #ffffff,
    //     A200 : #ffffff,
    //     A400 : #ffffff,
    //     A700 : #ffffff,
    // )
);